[Desktop Entry]
Encoding=UTF-8
Name=AiiDAlab
Comment=Launch AiiDAlab environment
Exec=/usr/local/bin/aiida-aiidalab
Icon=aiidalab_gears_square_256.png
Type=Application
